{% load i18n %}
{% if original.publisher_is_published_version and original.publisher_has_pending_deletion_request %}
    <span style="color: red; background-color: red; border-color: red;" class="cms-hover-tooltip cms-hover-tooltip-left cms-hover-tooltip-delay cms-pagetree-node-state cms-pagetree-node-state-dirty dirty" data-cms-tooltip="{% trans 'pending deletion' %}"></span>
{% elif original.publisher_is_draft_version and original.publisher_has_pending_changes %}
    <span class="cms-hover-tooltip cms-hover-tooltip-left cms-hover-tooltip-delay cms-pagetree-node-state cms-pagetree-node-state-dirty dirty" data-cms-tooltip="{% trans 'unpublished changes' %}"></span>
{% elif original.publisher_is_draft_version and original.publisher_has_published_version %}
    <span class="cms-hover-tooltip cms-hover-tooltip-left cms-hover-tooltip-delay cms-pagetree-node-state cms-pagetree-node-state-unpublished unpublished" data-cms-tooltip="{% trans 'unpublished' %}"></span>
{% else %}
    {# Just a published version without a draft. Nothing to display #}
{% endif %}
